@charset "utf-8";

/* CSS Document */

#beautiful {
    position: absolute;
    left: 170px;
    right: 0;
    background-color: darkgoldenrod;
    z-index: 20;
    top: 0px;
    padding-top: 2px;
    overflow: hidden;
    width: 930px;
    box-sizing: border-box;
    padding-left: 31px;
    display: none;
    height: 400px;
    overflow-y: auto;
}

#beautiful ol {
    overflow: hidden;
}

#beautiful .menuleft {
    float: left;
}

#beautiful p {
    width: 90px;
    float: left;
    font: 17px/34px "";
}

#beautiful .menuleft .menuleftlist {
    width: 544px;
    float: left;
    height: auto;
    border-bottom: 1px dashed #ccc;
}

#beautiful .menuleft .menuleftlist h4 {
    width: 478px;
    padding: 8px 24px 8px 0;
}

#beautiful h4 a {
    padding-right: 24px;
    font: 12px/24px "";
}

#beautiful .menulist {
    height: auto;
}