@charset "utf-8";

/* CSS Document */

body {
    overflow-x: hidden;
}

#topbg {
    background: #f5f5f5;
    height: 40px;
}

#top {
    margin: 0 auto;
    width: 1090px;
    height: 40px;
    background: #f5f5f5;
    position: relative;
}

#top a:hover {
    color: #f34017;
    text-decoration: underline;
}

#topleft {
    float: left;
    font: 15px/40px "";
}

#topleft a {
    text-decoration: none;
}

#topright {
    float: right;
    font: 15px/40px "";
}

#topright i {
    background: url(../images/main.png) no-repeat;
}

#topright .toprighti1 {
    display: block;
    width: 18px;
    height: 15px;
    background-position: -1px 0;
    margin-top: 14px;
}

#topright .toprighti2 {
    display: block;
    width: 13px;
    height: 14px;
    background-position: -16px -1px;
    margin-top: 14px;
    float: right;
}

#topright a {
    float: left;
    margin: 0 9px;
    text-decoration: none;
}

#topright span {
    float: left;
}

#topright a i {
    float: left;
}

#top .top1 {
    position: absolute;
    top: 0;
    left: 997px;
    z-index: 2;
    border: 1px solid #ccc;
    border-top: none;
    width: 90px;
    background-color: #fff;
    text-align: left;
    display: none;
    overflow: hidden;
}

#top .mask {
    position: absolute;
    top: 0;
    left: 997px;
    z-index: 3;
    width: 90px;
    height: 90px;
    display: block;
}

#top .twocode {
    position: absolute;
    top: 43px;
    left: 700px;
    display: none;
}

.top1 .top12 {
    font: 10px/25px "";
    text-align: center;
    height: 25px;
}

#top .top1 .top11 {
    text-decoration: underline;
    height: 40px;
    font: 15px/40px "";
    text-align: center;
    color: #f34017;
    width: 96px;
}

#headerbg {
    height: 133px;
}

.header {
    height: 133px;
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
}

.header .logo {
    width: 306px;
    height: 76px;
    background: url(../images/logo.png) no-repeat;
    margin: 30px 0 0 12px;
    float: left;
}

.header input.search {
    width: 421px;
    height: 35px;
    border-radius: 13px 0 0 13px;
    border: 2px solid #f34017;
    text-indent: 20px;
    float: left;
}

.header .searchsub {
    width: 74px;
    height: 39px;
    background: #f34017;
    border-radius: 0 13px 13px 0;
    float: left;
    border: 0;
    cursor: pointer;
}

#headerbg .header form {
    width: 499px;
    overflow: hidden;
    margin: 49px 0 0 110px;
    float: left;
}

#headerbg .header form lable {
    font: 10px/26px "";
}

#headerbg .header form lable .active {
    color: #f34017;
}

#headerbg .header form lable span {
    margin: 0 3px;
}

#headerbg .header .shop {
    width: 116px;
    height: 44px;
    border: 2px solid #f34017;
    float: left;
    margin: 49px 0 0 42px;
    border-radius: 19px;
    font: 14px/44px "";
    text-indent: 3px;
}

#headerbg .header .shop .shopbg {
    display: block;
    background: url(../images/main.png) no-repeat;
    background-position: -1px -19px;
    width: 19px;
    height: 19px;
    margin: 11px 0 0 30px;
    float: left;
}

#table {
    height: 40px;
    width: 1090px;
    margin: 0 auto;
}

#table .classification {
    background: #f34017;
    width: 170px;
    height: 42px;
    font: 16px/42px "";
    color: #fff;
    float: left;
}

#table .classification .fication1 {
    float: left;
    width: 21px;
    height: 19px;
    background: url(../images/main.png) -20px -22px;
    margin: 11px 20px;
}

#table ul {
    float: left;
    overflow: hidden;
    margin-left: 62px;
}

#table ul li {
    padding: 0 62px 0 0;
    float: left;
    font: 18px/42px "";
}

.box {
    width: 100%;
    height: 402px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.banner2 {
    height: 402px;
}

.imgbox {
    width: 100%;
    height: 402px;
}

.imgbox img {
    width: 100%;
    height: 402px;
    position: absolute;
    top: 0;
}

.btns {}

.btns input {
    width: 10px;
    height: 50px;
    border: none;
    background: rgba(200, 200, 200, 0.6);
    top: 100px;
    position: absolute;
}

#left {
    left: 0;
}

#right {
    right: 0;
}